<?php
/**
 * Geopopup template
 *
 * @category    Cyberhull
 * @package     Cyberhull_GeoPopup
 * @author      Dmitry Sazonov <dmitry.sazonov@cyberhull.com>
 */
?>
<?php $popup = $this->getPopup(); ?>

<?php if ($popup): ?>
    <div id = "geopopup-block">
        <?php echo $popup->getContent() ?>
    </div>
    <script type = "text/javascript">
        jQuery(document).ready(function () {
            jQuery.fancybox.open("#geopopup-block");
        });
    </script>
<?php endif; ?>
